<app-header></app-header>
    
<!-- Main Content Sections -->
<main>
  <!-- Hero Section -->
  <section id="home">
    <app-hero></app-hero>
  </section>

  <!-- About Section -->
  <section id="about">
    <app-about></app-about>
  </section>

  <!-- Skills Section -->
  <section id="skills">
    <app-skills></app-skills>
  </section>

  <!-- Experience Section -->
  <section id="experience">
    <app-experience></app-experience>
  </section>

  <!-- Projects Section -->
  <section id="projects">
    <app-projects></app-projects>
  </section>

  <!-- Contact Section -->
  <section id="contact">
    <app-contact></app-contact>
  </section>
</main>

<router-outlet />
